@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body,html{
	height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    
}

html {
    scroll-behavior: smooth;
}

.clickable {
    cursor: pointer;
  }

/*Title Header*/
#title-bar{
	background-color: #7552F2;
    height: 90px;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;   
}

/*Add black border between Header and Context Section*/
#border{
	background-color: black;	
	height:10px;
    margin: 0;
    padding: 0;
}

/*Context Section*/
#context-title{
	background-color:#9CAEF7;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#context-instructions{
	background-color:#9CAEF7;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px
}

#context-text-area{
	background-color: #9CAEF7;	
	height:450px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.content-text-box-1 {
	background-color: #9CAEF7;	
    width: 90%;
    height: 350px;
    margin: 5px 10px;
    padding-left: 10px;
    padding-right: 10px;
   
}

    /*Info box on the right*/
    #info-box {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

    #cpi-stats {
        height: 75px;
        padding-top:20%
        
    }

    

    /*Factors box on the left*/
    #factors-box {
        flex: 1;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }

        .list-of-factors {
            display: flex;
            flex-direction: column;
            font-family: 'Press Start 2P', cursive;
            color: black;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        #factor-1 {
            height: 50px;
            border: 3px solid black;
            background-color: #7890F4;
        }

        #factor-2 {
            height: 50px;
            border: 3px solid black;
            background-color: #7890F4;
        }

        #factor-3 {
            height: 50px;
            border: 3px solid black;
            background-color: #7890F4;
        }

        #factor-4 {
            height: 50px;
            border: 3px solid black;
            background-color: #7890F4;
        }

/*Income vs Increase in CPI Comparison*/
  #income-vs-cpi-title{
	background-color: #9677C3;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#income-vs-cpi-content{
	background-color: #9677C3;	
	height:400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

.content-text-box-2 {
	background-color: #9677C3;	
    width: 90%;
    height: 350px;
    margin: 5px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

    #data-box-1 {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

    #explanation-box-1 {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

/*Next Data Comparison*/
#factor-vs-factor-title-1{
	background-color: #E1D5F2;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#factor-vs-factor-content-1{
	background-color: #E1D5F2;	
	height:400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

.content-text-box-3 {
	background-color: #E1D5F2;	
    width: 90%;
    height: 350px;
    margin: 5px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

    #data-box-2 {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

    #explanation-box-2 {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

/*Next Data Comparisonn 2*/
#factor-vs-factor-title-2{
	background-color: #50B4F2;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#factor-vs-factor-content-2{
	background-color: #50B4F2;	
	height:400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}

.content-text-box-4 {
	background-color: #50B4F2;	
    width: 90%;
    height: 350px;
    margin: 5px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

    #data-box-3 {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

    #explanation-box-3 {
        flex: 2;
        height: 350px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }

/*Conclusion*/
#conclusion-title{
	background-color: #F2B705;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #592519;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#conclusion-content{
	background-color: #F2B705;	
	height:300px;
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    color: #592519;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*bottom bar*/
#bottom-bar {
	background-color: #E9ADCA;	
	height:30px;
    padding-top: 15px;
	margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #BF3475;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*Top Bar*/
#top-bar{
	background-color:#E9ADCA;	
	height:20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    color: #BF3475;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

    #project-name{
        width:70%;
        margin: 0;
        padding: 0;
    }